:root {
    /* Colors */
    --clr-bg: #317873;
    --clr-fg: #F0F0F0;
    --clr-accent: #e07a5f;
    --clr-btn-bg: #7289DA;
    --clr-btn-hover: #677BC4;
    --liquid-glass-bg: rgba(255, 255, 255, 0.1);
    --liquid-glass-bg-black: rgba(0, 0, 0, 0.50);
    --liquid-glass-blur: blur(7px);
    --liquid-glass-border: 1px solid rgba(255, 255, 255, 0.2);
    --liquid-glass-shadow: 
        0 4px 20px rgba(0, 0, 0, 0.15),
        inset 0 0 15px rgba(224, 122, 95, 0.2);

    /* SPecial effects for btn */
    --lg-bg-nav-: rgba(224, 123, 95, 0.15);
    --lg-border-nav-: 1px solid rgba(224, 122, 95, 0.05);

    /* SPecial effects for btn */
    --lg-bg-navbtn-: rgba(224, 123, 95, 0.25);
    --lg-border-navbtn-: 2px solid rgba(224, 122, 95, 0.05);
    
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: var(--clr-fg);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--clr-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; /* Umożliwia centrowanie */
    justify-content: center; /* Centruje w poziomie */
    align-items: center;
}

/* Canvas styles */
canvas {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

/* Math background */
#mathBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: #f2f2f2;
    z-index: -1;
}